body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: rgb(255, 211, 211);
    border-bottom: 1px solid #ccc;
    text-align: center;
    height: 300px;
}
/* ヘッダーイメージ */
img{
    height: 300px; 
}
main{
    border-bottom:1px solid #ccc;
    position:relative;
}
/* 体重入力 */
.box{
   display: flex;
   justify-content: center;
}


p.p1{
    font-size: 20px;
    color: rgb(255, 70, 156);
    height: 30px;
}



p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
/* 入力box */

li:hover {
    background: #f36bff;
    color: #fff;
}

input {
    margin: 3%;
    font-size: 80%;
    box-shadow: 3px 3px 3px 3px rgb(255, 205, 248);
    width: 100px;
}
/* save、clear */
ul{
    padding: 0px;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
    display: flex;
   justify-content: center;
}

li{
    margin: 15px;
}
/* チャートの描画 */
